@font-face{
    font-family: "franklin_gothic_condensed";
    src: url("C:\Users\PC FERRET PRO\tec\tarea1\Tarea1\elements\franklin_gothic_condensed.ttf");
}

h1 {
    color: rgb(61, 61, 139);
    text-align: center;
    font-family: "Carrois Gothic", sans-serif;
    font-size: 72px;
    margin-top: 0;
}

h2 {
    text-decoration: underline;
    color : rgb(5, 41, 121);
    text-align: center;
    font-size: 50px;
    font-family: "Carrois Gothic", sans-serif;
}

.background {
    background-color: rgb(20, 20, 20);
}

ul{
    text-align: center;
    padding: 0;
    display: block;
}

li {
    color: white;
    align-items: center;
    font-size: 40px;
    font-family: "Carrois Gothic", sans-serif;
}

ol{
    text-align: center;
    list-style-position: inside;
    padding: 0;
}

body{
    margin: 0;
    height: auto;
}

button {
    position: relative; 
    border: none; 
    border-radius: 10px; 
    padding: 10px 20px; 
    background-color: rgb(61, 61, 139);
    color: #fff; 
    font-size: 16px; 
    font-weight: bold; 
    cursor: pointer;
    z-index: 2;

}

button:hover {
    background-color: rgb(202, 202, 202);
}

#explotionContainer{

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 200%;
    overflow: hidden;
    z-index: -1;
}

.star {

    position: absolute;
    width: 3px;
    height: 3px;
    background-color: #FFF;
    border-radius: 50%;
    animation: explode 0.5s ease-out;
}

p {
    color: white;
}

header{
    padding:40px;
    border-bottom: #FFF;
    border-bottom : 2px solid #FFF;
    margin-bottom: 20px;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.uwu{
    width: 100%;
    display :block;
    z-index:-5; 
    position: relative;
}

.personaUwu{
    width: 100%;
    display :block;
    z-index: 5; 
    position: absolute;
}

.mainNavigation a{
    color :black;
    text-decoration: none;
    font-weight: bold;
    background-color: white;
    padding: 10px;
    border: 2px solid black;
    font-family: "Carrois Gothic", sans-serif ;
}

.mainNavigation a:hover{
    color: #FFF;
    background-color: black;
    border: 2px solid white;
}

    
footer{
    background-color: rgb(50, 3, 94);
    text-align: center;
    padding: 5px;
    
}

.album{
    width: 100%;
    height: 32%;
}

.landingPage{
    display: flex;
}

.context{
    width: 80%;

}

.rightBar{
    width: 20%;
    display: block;
}
